# Budget Optimization Tests 11-20

## Loading Data and Converting Data Types

In [1]:
import pandas as pd

In [2]:
budgetsdf = pd.read_csv('Data/tn.movie_budgets.csv')

In [3]:
df = budgetsdf.copy()

In [4]:
df['worldwide_gross'] = df['worldwide_gross'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['domestic_gross'] = df['domestic_gross'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['production_budget'] = df['production_budget'].apply(lambda x: x.replace('$', '').replace(',', ''))

In [5]:
df['worldwide_gross'] = df['worldwide_gross'].astype(float)
df['domestic_gross'] = df['domestic_gross'].astype(float)
df['production_budget'] = df['production_budget'].astype(float)

## Calculating Gross to Budget Ratio and Creating Budget Categories

In [6]:
df['gtbratio'] = df['worldwide_gross']/df['production_budget']

In [7]:
# Source for Category Parameters: https://www.studiobinder.com/blog/production-budget/#:~:text=Film%20Budget%20Examples,-Low%2Dend%20movie&text=There's%20some%20conjecture%20as%20to,(2007)%20%E2%80%93%20Budget%3A%20%247%2C000

df['budgetcat'] = ['low' if x < 5000000 else 'mid' if x < 50000000 else 'high' for x in df['production_budget']]

In [8]:
lowdf = df.loc[df['budgetcat'] == 'low']
middf = df.loc[df['budgetcat'] == 'mid']
highdf = df.loc[df['budgetcat'] == 'high']

## Records of Tests 21-30

Test 21

In [36]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
1056,57,5-Aug-05,The Dukes of Hazzard,53000000.0,80270227.0,109848461.0,2.072612,56848461.0,1.072612,high,3848461.0,yes

In [40]:
midtest1 = middf.sample(n=3)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  47000000.0
gross:  232082644.0

In [42]:
lowtest1 = lowdf.sample(n=35)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  57162000.0
gross:  427676039.0

Test 22

In [39]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
624,25,30-Jun-00,The Adventures of Rocky & Bullwinkle,76000000.0,26000610.0,35129610.0,0.462232,-40870390.0,-0.537768,high,-116870390.0,no

In [50]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  72000000.0
gross:  292398521.0

In [55]:
lowtest1 = lowdf.sample(n=40)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  73320000.0
gross:  487214343.0

Test 23

In [42]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
1114,15,23-Sep-11,Moneyball,50000000.0,75605492.0,111300835.0,2.226017,61300835.0,1.226017,high,11300835.0,yes

In [43]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  55500000.0
gross:  143009070.0

In [56]:
lowtest1 = lowdf.sample(n=30)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  55031000.0
gross:  194533554.0

Test 24

In [45]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
309,10,22-Apr-16,The Huntsman: Winterâs War,115000000.0,48003015.0,165149302.0,1.436081,50149302.0,0.436081,high,-64850698.0,no

In [62]:
midtest1 = middf.sample(n=6)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  121500000.0
gross:  460021001.0

In [47]:
lowtest1 = lowdf.sample(n=60)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  108114000.0
gross:  454104429.0

Test 25

In [48]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
884,85,21-Oct-16,Jack Reacher: Never Go Back,60000000.0,58697076.0,159946489.0,2.665775,99946489.0,1.665775,high,39946489.0,yes

In [63]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  61000000.0
gross:  211999631.0

In [65]:
lowtest1 = lowdf.sample(n=35)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  62643848.0
gross:  514733089.0

Test 26

In [51]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
559,60,26-Sep-08,Eagle Eye,80000000.0,101440743.0,180585259.0,2.257316,100585259.0,1.257316,high,20585259.0,yes

In [73]:
midtest1 = middf.sample(n=5)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  76700000.0
gross:  74499888.0

In [74]:
lowtest1 = lowdf.sample(n=40)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  85509373.0
gross:  283329249.0

Test 27

In [54]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
710,11,13-Aug-04,AVP: Alien Vs. Predator,70000000.0,80281096.0,172543519.0,2.464907,102543519.0,1.464907,high,32543519.0,yes

In [55]:
midtest1 = middf.sample(n=3)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  73500000.0
gross:  306625500.0

In [75]:
lowtest1 = lowdf.sample(n=35)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  74525000.0
gross:  86466753.0

Test 28

In [57]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
787,88,4-Aug-00,Space Cowboys,65000000.0,90454043.0,128874043.0,1.982678,63874043.0,0.982678,high,-1125957.0,no

In [78]:
midtest1 = middf.sample(n=3)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  64500000.0
gross:  257762765.0

In [80]:
lowtest1 = lowdf.sample(n=35)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  63617783.0
gross:  242945307.0

Test 29

In [60]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
821,22,14-Jul-06,Little Man,64000000.0,58636047.0,101636047.0,1.588063,37636047.0,0.588063,high,-26363953.0,no

In [86]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  63500000.0
gross:  359810031.0

In [92]:
lowtest1 = lowdf.sample(n=40)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  68838000.0
gross:  592764598.0

Test 30

In [63]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
715,16,11-Dec-98,Star Trek: Insurrection,70000000.0,70187658.0,117800000.0,1.682857,47800000.0,0.682857,high,-22200000.0,no

In [105]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  70400000.0
gross:  198504622.0

In [112]:
lowtest1 = lowdf.sample(n=40)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  71275000.0
gross:  473465636.0