# Budget Optimization Tests 11-20

## Loading Data and Converting Data Types

In [9]:
import pandas as pd

In [10]:
budgetsdf = pd.read_csv('Data/tn.movie_budgets.csv')

In [11]:
df = budgetsdf.copy()

In [12]:
df['worldwide_gross'] = df['worldwide_gross'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['domestic_gross'] = df['domestic_gross'].apply(lambda x: x.replace('$', '').replace(',', ''))
df['production_budget'] = df['production_budget'].apply(lambda x: x.replace('$', '').replace(',', ''))

In [13]:
df['worldwide_gross'] = df['worldwide_gross'].astype(float)
df['domestic_gross'] = df['domestic_gross'].astype(float)
df['production_budget'] = df['production_budget'].astype(float)

## Calculating Gross to Budget Ratio and Creating Budget Categories

In [14]:
df['gtbratio'] = df['worldwide_gross']/df['production_budget']

In [15]:
# Source for Category Parameters = https://www.studiobinder.com/blog/production-budget/#:~:text=Film%20Budget%20Examples,-Low%2Dend%20movie&text=There's%20some%20conjecture%20as%20to,(2007)%20%E2%80%93%20Budget%3A%20%247%2C000

df['budgetcat'] = ['low' if x < 5000000 else 'mid' if x < 50000000 else 'high' for x in df['production_budget']]

In [16]:
lowdf = df.loc[df['budgetcat'] == 'low']
middf = df.loc[df['budgetcat'] == 'mid']
highdf = df.loc[df['budgetcat'] == 'high']

## Records of Tests 11-20

Test 11

In [36]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
19,20,15-Jul-09,Harry Potter and the Half-Blood Prince,250000000.0,302089278.0,935213767.0,3.740855,685213767.0,2.740855,high,435213767.0,yes

In [78]:
midtest1 = middf.sample(n=12)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  258900000.0
gross:  524310438.0

In [87]:
lowtest1 = lowdf.sample(n=140)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  250076958.0
gross:  1255237308.0

Test 12

In [39]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
1109,10,5-Feb-99,Payback,50000000.0,81526121.0,161626121.0,3.232522,111626121.0,2.232522,high,61626121.0,yes

In [91]:
midtest1 = middf.sample(n=3)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  47000000.0
gross:  163823687.0

In [92]:
lowtest1 = lowdf.sample(n=30)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  58334000.0
gross:  131913289.0

Test 13

In [42]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
579,80,22-Nov-06,DÃ©jÃ Vu,80000000.0,64038616.0,181038616.0,2.262983,101038616.0,1.262983,high,21038616.0,yes

In [93]:
midtest1 = middf.sample(n=4)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  80000000.0
gross:  514876151.0

In [44]:
lowtest1 = lowdf.sample(n=45)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  81225000.0
gross:  709717364.0

Test 14

In [45]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
416,17,12-Feb-10,Percy Jackson & the Olympians: The Lightning T...,95000000.0,88768303.0,223050874.0,2.347904,128050874.0,1.347904,high,33050874.0,yes

In [95]:
midtest1 = middf.sample(n=6)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  96750000.0
gross:  96683591.0

In [97]:
lowtest1 = lowdf.sample(n=60)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  97119000.0
gross:  509321829.0

Test 15

In [48]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
238,39,4-Jun-04,Harry Potter and the Prisoner of Azkaban,130000000.0,249757726.0,796907323.0,6.130056,666907323.0,5.130056,high,536907323.0,yes

In [100]:
midtest1 = middf.sample(n=7)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  129700000.0
gross:  291079897.0

In [103]:
lowtest1 = lowdf.sample(n=70)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  132104207.0
gross:  662951940.0

Test 16

In [51]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
256,57,18-Nov-11,"The Twilight Saga: Breaking Dawn, Part 1",127500000.0,281287133.0,689420051.0,5.407216,561920051.0,4.407216,high,434420051.0,yes

In [109]:
midtest1 = middf.sample(n=7)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  125800000.0
gross:  126002654.0

In [110]:
lowtest1 = lowdf.sample(n=70)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  130427650.0
gross:  953464974.0

Test 17

In [54]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
765,66,20-Sep-96,Last Man Standing,67000000.0,18115927.0,18115927.0,0.270387,-48884073.0,-0.729613,high,-115884073.0,no

In [55]:
midtest1 = middf.sample(n=3)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  68000000.0
gross:  199808413.0

In [112]:
lowtest1 = lowdf.sample(n=35)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  63738000.0
gross:  714822416.0

Test 18

In [57]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
263,64,19-Nov-10,Harry Potter and the Deathly Hallows: Part I,125000000.0,296131568.0,960431568.0,7.683453,835431568.0,6.683453,high,710431568.0,yes

In [120]:
midtest1 = middf.sample(n=7)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  123400000.0
gross:  120039412.0

In [122]:
lowtest1 = lowdf.sample(n=70)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  126599247.0
gross:  649859234.0

Test 19

In [60]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
137,38,16-Jul-10,Inception,160000000.0,292576195.0,835524642.0,5.222029,675524642.0,4.222029,high,515524642.0,yes

In [127]:
midtest1 = middf.sample(n=7)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  168000000.0
gross:  335697736.0

In [130]:
lowtest1 = lowdf.sample(n=90)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  155149000.0
gross:  862948402.0

Test 20

In [63]:
highdf.sample(n=1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,gtbratio,net,ntbratio,budgetcat,profitability,success
61,62,17-Jun-11,Green Lantern,200000000.0,116601172.0,219535492.0,1.097677,19535492.0,0.097677,high,-180464508.0,no

In [133]:
midtest1 = middf.sample(n=10)
print("budget: ", midtest1['production_budget'].sum())
print("gross: ", midtest1['worldwide_gross'].sum())

budget:  202000000.0
gross:  950478886.0

In [140]:
lowtest1 = lowdf.sample(n=110)
print("budget: ", lowtest1['production_budget'].sum())
print("gross: ", lowtest1['worldwide_gross'].sum())

budget:  196303783.0
gross:  1104353814.0